@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 97%;
    margin: 0px;
}

header {
    background-color: black;
    margin: 0px;
    min-height: 90px;
    max-height: 200px;
    height: 175px;
}

header > h1 {
    text-align: center;
    color: white;
    font-size: 40px;
    margin: 0px;
    padding: 50px;
    padding-bottom: 5px;
}

header > p {
    text-align: center;
    margin: 0px;
    color: white;
    padding: 0px;
}

a {
    color: white;
    text-decoration: none;
    padding: 0px;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    position: relative;
    background-color: white;
}

article {
    position: absolute;
    display: inline-block;
    padding: 30px;
    padding-top: 50px;

    max-width: 200px;
    min-width: 200px;
}