@charset "UTF-8";
@font-face {
    font-family: Idroid;
    src: url(fontes/idroid.otf);
}


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: #f8fcbe;
}

header {
    background-image: linear-gradient(#41da83, #0f3822);
    text-align: center;
    color: white;
    padding: 15px;
}

nav > p {
    text-align: center;
    color: rgba(255, 255, 255, 0.753);
    font-size: 10px;
    padding: 0px;
}

h1 {
    margin: 0px;
}

section#menu {
    text-align: left;
}

a { 
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    color: black;
    text-decoration: none;
    margin: 10px;
}

.link1 {
    color: white;
}

a:hover {
    text-decoration: underline;
}

.fundin {
    display: inline;
    border-radius: 3px;
}

.fundin:hover{
    background-color: #5a896f;
}

a:active {
    color: #0f3822;
    text-decoration: underline;
}

a#link2 {
    font-size: 15px;
    color: #5a896f;
    margin-left: 0px;
}

a#link2:visited {
    color: #5a896f;
}

main {
    background-color: white;
    padding: 20px;
    width: 400px;
    margin: auto;
}

div > h1{
    font-family: idroid;
    font-size: 20px;
    color: #226240;
}

p {
    font-size: 15px;
    text-indent: 20px;
}

.marcado {
    font-weight: bold;
    color: #5a896f;
}

.titulo2 {
    font-family: idroid;
    font-size: 18px;
    background-image: linear-gradient(90deg, #41da8365, white);
    color: #226240;
}

img {
    width: 100%;
}

section#video {
    background-color: #1a5c38;
    border: 20px solid #1a5c38;
    width: 400px;
    margin: auto;
    padding: 0px;
}

section#list {
    border-radius: 10px;
    background-color: #c5ebd6;
}

li {
    font-size: 12px;
    text-decoration: underline;
    padding: 2px;
    margin: 0px;
}

.link3 {
    text-decoration: none;
}

section#list > h3 {
    border-radius: 10px 10px 0px 0px;
    font-size: 15px;
    color: white;
    background-color: #2fa866;
    padding: 5px;
    margin: 0px;
}

section#list > p {
    padding: 10px;
}

section > input {
    margin: 5px;
}

footer {
    background-color: #1a5c38;
    color: white;
    text-align: center;
    margin: 0px;
}