@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: black;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

body {
    background-color: #F0B100;
}

header {
    position: sticky;
    top: 0;
    background-color: #FAD000;
    text-align: left;
    border-bottom: 5px solid #B83400;
}

header > h1 {
    display: inline-block;
    font-weight: bolder;
    color: #B83400 ;
    font-variant: small-caps;
    padding: 15px;
}

i#burguer {
    position: absolute;
    right: 10px;
    top: 20px;
    color: #B83400;
}

i#burguer:hover {
    color: #6d1f00;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

menu {
    display: none;
}

menu ul {
    list-style-type: none;
}

a.pag {
    display: block;
    padding: 10px;
    margin-bottom: 2px;
    text-decoration: none;
    background-color: #B83400;
    color: #FAD000;
    text-align: center;
}

a#ultimo {
    margin-bottom: 0px;
}

a.pag:hover {
    background-color: #6d1f00;
    color: #F0B100;
}

section {
    background-color: #B83400;
    padding-bottom: 10px;
    width: 70vw;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid #FAD000;
    box-shadow: -4px 4px 20px;
    text-align: center;
}

h2 {
    padding: 30px;
    text-align: center;
    color: #FAD000;
    text-decoration: underline;
    font-size: 40px;
    text-shadow: -2px 2px 2px #6d1f00; 
    }

section > img {
    padding-bottom: 20px;
    width: 330px;

    }

img.ofertas {
    border: 2px solid #FAD000;
    border-radius: 5px;
    box-shadow: -4px 4px 20px;
    margin: 20px;
}

img.ofertas:hover {
    border: 2px solid #faa200;
    zoom: 101%;
    transition: zoom 0.3;
}

a.linkimagem:hover {

    animation: 200s;
    transition: opacity 0.3s;
}

footer {
    font-weight: bold;
    background-color: #FAD000;
    margin-top: 50px;
    padding: 5px;
    text-align: center;
    border-top: 2px solid #B83400;

}

footer > p {
    color: #B83400;
}

a.rodape {
    color: #B83400;
}

a.rodape {
    text-decoration: underline;
}

a.rodape:hover {
    color: #6d1f00;
}

@media screen and (min-width: 1179px) {
    section {
        width: 800px;
    }
}