@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: black;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

body {
    background-color: #F0B100;
}

header {
    background-color: #FAD000;
    padding: 30px;
    text-align: center;
    border-bottom: 5px solid #B83400;
    margin-bottom: 20px;
}

header > h1 {
    font-weight: bolder;
    color: #B83400 ;
    font-variant: small-caps;
    padding: 5px;
}

section {
    background-color: #B83400;
    padding-bottom: 10px;
    width: 70vw;
    margin: auto;
    border-radius: 10px;
    border: 2px solid #FAD000;
    box-shadow: -4px 4px 20px;
    text-align: center;
}

h2 {
    padding: 30px;
    text-align: center;
    color: #FAD000;
    text-decoration: underline;
    font-size: 40px; 
    }

section > img {
    padding-bottom: 20px;
    width: 330px;

    }

img.ofertas {
    border: 2px solid #FAD000;
    border-radius: 5px;
    box-shadow: -4px 4px 20px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

img.ofertas:hover {
    zoom: 101%;
    transition: zoom 0.3;

}

a.linkimagem {
    display: inline-block;
}

a.linkimagem:hover {
    opacity: 70%;
    animation: 200s;
    transition: opacity 0.3s;
}

footer {
    font-weight: bold;
    background-color: #FAD000;
    margin-top: 50px;
    padding: 5px;
    text-align: center;
    border-top: 2px solid #B83400;
}

footer > p {
    color: #B83400;
}

a.rodape:visited {
    color: #B83400;
}

a.rodape {
    text-decoration: underline;
}

a.rodape:hover {
    color: #6d1f00;
}