@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url(../pacote-d013/imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 405px;
    width: 203px;
    background: url(../pacote-d013/imagens/frame-iphone.png) no-repeat;
    background-size: 200px;
}

iframe#tela {
    position: relative;
    top: 51px;
    left: 14px;
    width: 172.4px;
    height: 304px;
}