@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: black;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

body {
    background-color: #F0B100;
}

header {
    background-color: #FAD000;
    padding: 30px;
    text-align: center;
    border-bottom: 5px solid #B83400;
    margin-bottom: 20px;
}

header > h1, p, a {
    font-weight: bolder;
    color: #B83400 ;
}

header > h1 {
    font-variant: small-caps;
    padding: 5px;
}

header > p {
    padding-bottom: 25px;
    text-decoration: underline;
}

header > a {
    border: 1px solid #2B7284;
    border-radius: 2px;
    padding: 3px;
    margin: 10px;
}

header > a:hover {
    color: #B83400;
    border: 1px solid #B83400;
}

section {
    background-color: #B83400;
    height: 80vh;
    width: 70vw;
    margin:auto;
    border-radius: 10px;
}

h2 {
    padding: 10px;
    text-align: center;
    color: #FAD000;
    text-decoration: underline;
    font-size: 40px; 
    }

article.imagem {
    background-color: aliceblue;
    max-width: 500px;
    height: 10vh;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}